<!DOCTYPE html>
<html>
<head>
<title>Insurance</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script type="text/javascript" src="./js/socket/app.js"></script>
</head>

<body ng-app="myApp" ng-controller="insuranceABC">
<div class="container-fluid"> 
  
  <!-- Header Section starts here-->
  <header class="header_bg">
    <div class="header_left"></div>
    <div class="header_right"></div>
    <div class="container-fluid">
      <div class="logo_pharma"> <a href="index.html"><img src="images/logo.png" alt="logo"/></a> </div>
      <div class="banner_text_right"> Blockchain for Business<br>
        <b>WITH IBM BLOCKCHAIN</b> </div>
    </div>
  </header>
  <!-- Header Section ends here--> 
  
  <!-- Content Section ends here-->
  <div class="schneider_banner">
    <div class="home">
      <div class="button_set">
				<a href="#" class="supplier_btn cms_student_btn" ng-click="redirectTo('ABC')"> ABC Insurance</a>
				<a href="#" class="schneider_btn cms_student_btn" ng-click="redirectTo('XYZ')">XYZ Insurance</a>
			</div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- Content Section ends here--> 

<!-- Footer Section starts here-->
<footer class="footer">©  copyright 2018</footer>
<!-- Footer Section ends here-->

</div>
</body>
</html>
